body{
  background-color: rgb(118, 26, 189);
}
/* .clock-container{
  display: flex;
  border: 5px solid black;
  width: 85%;
  height: 300px;
  margin: 15% auto auto auto;
  background-color: rgb(102, 102, 102);
} */
#clock{
  font-family: 'Bungee Shade', cursive;
  font-size: 150px;
  color: black;
  text-align: center;
}
button{
  display: block;
  width: 10%;
  height: 5%;
  background: rgb(118, 26, 189);
  margin: auto;
}
#h1-awesome{
  font-family: 'Bungee Shade', cursive;
  font-size: 150px;
  color: black;
}
